<main class="main main--blog" role="main">
  <h1><%= __('menu.blog') %></h1>

  <% if (page.posts.length < 2){ %>
    <% page.posts.each(post => { %>
      <%- partial('_partial/post/post', { post: post, index: true }) %>
    <% }) %>
  <% } else { %>
    <div class="posts-preview-list">
      <% page.posts.each(post => { %>
        <%- partial('_partial/post/preview', { post: post }) %>
      <% }) %>
    </div>
  <% } %>

  <%- partial('_partial/pagination') %>
</main>
