<main class="main main--tag" role="main">
  <div id="tag">
    <h1><%= __('headline.tag') %> <%= page.tag %></h1>
    <div class="posts-preview-list">
      <% page.posts.each(post => { %>
        <%- partial('_partial/post/preview', { post: post }) %>
      <% }) %>
    </div>
  </div>

  <div id="paginator">
    <% if (page.posts && page.posts.length > config.tag_generator.per_page) { %>
      <%- paginator()%>
    <% } %>
  </div>
</main>
