@mixin list {
  padding-inline-start: 1.5rem;
  list-style: none;

  ul {
    list-style: none;
    padding-inline-start: 20px;
  }

  li {
    &:before {
      content: "▪";

      float: left;

      margin: 0 0 0 -1rem;

      color: $font-color-light;
      font-size: 0.8rem;
    }
  }
}

@mixin tag {
  padding: 0.3rem 0.6rem;

  border-radius: 3px;

  background: $color-gray-very-light;

  text-decoration: none;
}
