$background: #fff;
$sidebar-background: #fbfbfb;
$sidebar-border: #f6f6f6;

$color-gray-main: #444;
$color-gray-light: #747474;
$color-gray-very-light: #eee;

$color-primary-dark: #060;
$color-primary: #090;

$font-color-main: $color-gray-main;
$font-color-light: $color-gray-light;
$font-color-link-hover: $color-primary;
$font-color-link-visited: $color-primary-dark;
$font-background-code: #ddd;

// mobile
$sm-body-padding-x: 2rem;

// tablet
$md-min-width: 45rem;
$md-body-padding-x: 2rem;
$md-navigation-width: 3rem;
$md-sidebar-width: 15rem;

// desktop
$xl-min-width: 60rem;
$xl-body-padding-x: 2rem;
$xl-sidebar-width: 15rem;
