<%- partial('_partial/search/insight/template') %>
<%- partial('_partial/search/insight/config') %>

<div class="search" id="search-form-wrap">
    <form class="search-form sidebar-form">
        <div class="input-group">
            <input type="text" class="search-form-input form-control" placeholder="<%= __("search.title") %>" />
            <span class="input-group-btn">
                <button type="submit" class="search-form-submit btn btn-flat" onclick="return false;"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </form>
</div>
