@import './sidebar-widgets';

@media only screen and (min-width: $md-min-width) {
  body {
    grid-template-areas:
      "header body sidebar"
      "header footer sidebar";
    grid-template-columns: $md-navigation-width auto $md-sidebar-width;
    grid-template-rows: auto $md-footer-height;
    grid-column-gap: $md-body-padding-x;

    min-height: 100vh;

    padding: 0;

    overflow-x: hidden;
  }

  .header {
    background-color: $sidebar-background;
    border-right: 1px solid $sidebar-border;

    &__header {
      display: block;

      margin: 1rem 0;
    }

    &__body {
      max-height: initial;
      overflow: initial;

      border: none;

      .navigation-social {
        display: none;
      }
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1rem;

    &__avatar {
      padding: 0;

      &__image {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .searchbar {
    justify-content: center;

    padding: 0;

    &__input {
      display: none;
    }

    &__submit {
      margin: 0;

      color: $font-color-light;
    }
  }

  #navigation-toggle-button {
    display: none;
  }

  .navigation {
    padding: 0;

    &__item {
      display: flex;
      justify-content: center;

      padding: 0;

      &:hover {
        background-color: #eee;
      }

      &__title {
        display: none;
      }
    }
  }

  .sidebar {
    display: block;

    padding: 0 1rem;

    background-color: $sidebar-background;
    border-left: 1px solid $sidebar-border;
  }

  .main {
    width: calc(100vw - #{$md-sidebar-width} - #{$md-navigation-width} - 2 * #{$md-body-padding-x});
  }
}
