@keyframes scaleProgressBar {
  0% {
      transform: scaleX(0);
  }
  100% {
      transform: scaleX(1);
  }
}

.progress-bar {
  display: block;

  width: 90%;
  height: 0.75rem;

  margin-top: 0.25rem;

  background: $color-gray-main;

  &__inner {
    display: block;

    height: 100%;

    background-color: $color-primary;

    animation: 1s ease-out 0s 1 scaleProgressBar;
    transform-origin: 0% 50%;
  }
}
