@media only screen and (min-width: $md-min-width) {
  .widget__archive-list, .widget__categories-list {
    @include list;

    &-link {
      text-decoration: none;
    }

    &-count {
      margin-left: 0.5rem;

      color: $font-color-light;
      font-size: 0.8rem;

      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }

  .widget__recent-posts {
    list-style: none;
    padding: 0;

    &__item-inner {
      margin-bottom: 1rem;

      a {
        text-decoration: none;
      }
    }

    &__item-category {
      margin: 0 0 0.2rem 0;

      color: $font-color-light;

      a {
        color: $font-color-light;

        &:visited {
          color: $font-color-light;
        }
      }
    }

    &__item-title {
      margin: 0 0 0.2rem 0;
    }

    &__item-date {
      margin: 0;

      color: $font-color-light;

      font-size: 0.8rem;
    }
  }

  .widget__tag-cloud {
    a {
      @include tag;

      display: inline-block;

      margin-bottom: 0.4rem;
    }
  }
}
