.skills-list {
  display: inline-block;

  width: 100%;
  max-width: 16rem;

  margin: auto;
  padding: 0;

  list-style: none;

  &__item {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: $xl-min-width) {
  .skills-list {
    margin: 0;
  }
}
