@font-face {
  font-family: "Roboto";
  src: url("../../vendor/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../vendor/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../../vendor/fonts/Roboto-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../vendor/fonts/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "Roboto", Arial, sans-serif;
}
