body {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: max-content auto max-content;

  min-height: 100vh;

  margin: 0;
  padding: 0 #{$sm-body-padding-x};

  background-color: $background;
}

@media only screen and (min-width: $md-min-width) {
  body {
    grid-template-areas:
      "header body sidebar"
      "header footer sidebar";
    grid-template-columns: $md-navigation-width auto $md-sidebar-width;
    grid-template-rows: auto max-content;
    grid-column-gap: $md-body-padding-x;

    padding: 0;

    overflow-x: hidden;
  }
}

@media only screen and (min-width: $xl-min-width) {
  body {
    grid-template-areas:
      "header body sidebar"
      "footer body sidebar";
    grid-template-columns: $xl-sidebar-width auto $xl-sidebar-width;
    grid-column-gap: $xl-body-padding-x;
  }
}
