.header {
  grid-area: header;

  &__header {
    display: grid;

    grid-template-areas: "profile searchbar button";
    grid-template-columns: 3rem auto 3rem;
  }

  &__body {
    max-height: 0;

    overflow: hidden;

    border-bottom: 1px solid #eee;

    transition: max-height 300ms ease-in-out;

    &--open {
      max-height: 500px;
    }
  }

  .profile {
    grid-area: profile;

    &__avatar {
      display: inline-block;

      height: 2rem;

      padding: 0.5rem 0;

      &__image {
        width: 2rem;
        height: 2rem;

        border-radius: 50%;
      }
    }

    &__name {
      display: none;
    }

    &__title {
      display: none;
    }

    &__location {
      display: none;
    }
  }

  .searchbar {
    grid-area: searchbar;

    display: flex;

    justify-content: space-between;

    padding: 0.5rem;

    &__input {
      margin: 0;
      padding: 0;

      background-color: transparent;
      border: 0;
    }

    &__submit {
      margin: 0 0 0 -3rem;
      padding: 0;

      background-color: transparent;
      border: 0;
    }
  }

  #navigation-toggle-button {
    grid-area: button;
  }

  .navigation {
    margin: 0;
    padding: 0 0.5rem;

    list-style: none;

    &__item {
      &__link {
        display: block;

        padding: 0.75rem 0;

        color: $font-color-main;
        text-decoration: none;

        &:hover {
          color: $font-color-main;
        }
      }

      &__title {
        padding-left: 2rem;
      }
    }
  }
}

@media only screen and (min-width: $md-min-width) {
  .header {
    background-color: $sidebar-background;
    border-right: 1px solid $sidebar-border;

    &__header {
      display: block;

      margin: 1rem 0;
    }

    &__body {
      max-height: initial;
      overflow: initial;

      border: none;

      .navigation-social {
        display: none;
      }
    }

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 1rem;

      &__avatar {
        padding: 0;

        &__image {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .searchbar {
      justify-content: center;

      padding: 0;

      &__input {
        display: none;
      }

      &__submit {
        margin: 0;

        color: $font-color-light;
      }
    }

    #navigation-toggle-button {
      display: none;
    }

    .navigation {
      padding: 0;

      &__item {
        display: flex;
        justify-content: center;

        padding: 0;

        &:hover {
          background-color: #eee;
        }

        &__title {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: $xl-min-width) {
  .header {
    .profile {
      &__avatar {
        height: auto;

        &__image {
          width: 4rem;
          height: 4rem;
        }
      }

      &__name, &__title, &__location {
        display: block;

        margin-top: 0;
        margin-bottom: 0.5rem;

        letter-spacing: 0.5px;
        font-weight: normal;
      }

      &__location {
        color: $font-color-light;
      }
    }

    .searchbar {
      margin: 0.5rem 1rem;
      padding: 0.3rem 0.5rem;

      border: 1px solid $font-color-light;
      border-radius: 3px;

      &__input {
        display: block;

        color: $font-color-light;
      }

      &__submit {
        margin-left: -3rem;
      }
    }

    .navigation {
      &__item {
        display: block;

        padding: 0 1rem;

        &__title {
          display: inline-block;

          padding-left: 1rem;
        }

        &__link {
          letter-spacing: 0.5px;

          svg.svg-inline--fa {
            width: 1rem;
          }
        }
      }
    }
  }
}
