.header {
  grid-area: header;

  &__header {
    display: grid;

    grid-template-areas: "profile searchbar button";
    grid-template-columns: 3rem auto 3rem;
  }

  &__body {
    max-height: 0;

    overflow: hidden;

    border-bottom: 1px solid #eee;

    transition: max-height 300ms ease-in-out;

    &--open {
      max-height: 500px;
    }
  }
}

@media only screen and (min-width: $md-min-width) {
  .header {
    background-color: $sidebar-background;
    border-right: 1px solid $sidebar-border;

    &__header {
      display: block;

      margin: 1rem 0;
    }

    &__body {
      max-height: initial;
      overflow: initial;

      border: none;

      .navigation-social {
        display: none;
      }
    }
  }
}
