<div class="widget">
    <h3 class="widget-title"><%= __('sidebar.widget.announcement') %></h3>
    <div class="widget-body">
        <div id="announcement">
            <div class="content">
                <%- theme.site.announcement %>
            </div>
        </div>
    </div>
</div>
