<% if (site.categories.length){ %>
  <div class="widget">
    <h3 class="widget-title"><%= __('sidebar.widget.categories') %></h3>
    <div class="widget-body">
      <%- list_categories({ show_count: theme.site.categories.showCount, class: 'widget__categories' }) %>
    </div>
  </div>
<% } %>
