<% if (site.tags.length){ %>
  <div class="widget">
    <h3 class="widget-title"><%= __('sidebar.widget.tags') %></h3>
    <div class="widget-body">
      <%- list_tags({show_count: theme.site.tags.showCount}) %>
    </div>
  </div>
<% } %>
